---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentPageHeader from "../components/ContentPageHeader.astro";

const pageTitle = "About Moonshine";
const pageDescription = "Find out what the property has to offer";
const pageImage = "bg-hero-image";

import { Image } from "astro:assets";
import poolArea from "../images/poolarea.jpg";
import kitchen from "../images/kitchen.jpg";
---

<BaseLayout pageTitle={pageTitle}>
  <ContentPageHeader
    pageTitle={pageTitle}
    pageDescription={pageDescription}
    pageImage={pageImage}
  />
  <div class="overflow-hidden py-16 sm:py-24" data-aos="fade">
    <div class="mx-auto max-w-6xl px-6 lg:px-8">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
      >
        <div class="lg:pr-8">
          <div class="lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-emerald-600">
              Don't worry, be happy
            </h2>
            <p
              class="mt-2 text-slate-900 text-3xl font-bold font-serif tracking-tight sm:text-4xl"
            >
              All you need and more
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              Moonshine was completed in 2024 and is ready to make sure you have
              holiday of your dreams. Sitting in Willoughby Bay overlooking its
              own beach, it is a sanctuary of peace and quiet yet only five
              minutes drive away from bustling English Harbour.
            </p>
            <dl
              class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
            >
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1.5rem"
                    height="1.5rem"
                    viewBox="0 0 512 512"
                    class="absolute left-1 top-1 h-5 w-5 text-emerald-600"
                    ><path
                      fill="currentColor"
                      d="M432 230.7a79.4 79.4 0 0 0-32-6.7H112a79.5 79.5 0 0 0-32 6.69A80.09 80.09 0 0 0 32 304v112a16 16 0 0 0 32 0v-8a8.1 8.1 0 0 1 8-8h368a8.1 8.1 0 0 1 8 8v8a16 16 0 0 0 32 0V304a80.09 80.09 0 0 0-48-73.3M376 80H136a56 56 0 0 0-56 56v72a4 4 0 0 0 5.11 3.84A95.5 95.5 0 0 1 112 208h4.23a4 4 0 0 0 4-3.55A32 32 0 0 1 152 176h56a32 32 0 0 1 31.8 28.45a4 4 0 0 0 4 3.55h24.46a4 4 0 0 0 4-3.55A32 32 0 0 1 304 176h56a32 32 0 0 1 31.8 28.45a4 4 0 0 0 4 3.55h4.2a95.5 95.5 0 0 1 26.89 3.85A4 4 0 0 0 432 208v-72a56 56 0 0 0-56-56"
                    ></path></svg
                  >
                   Sleeps 8 people in luxury.
                </dt>
                <dd class="inline">
                  The 4 kingsized beds can be split into single beds. Two
                  bedrooms have thier own outdoor decks with seating.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1.5rem"
                    height="1.5rem"
                    viewBox="0 0 16 16"
                    class="absolute left-1 top-1 h-5 w-5 text-emerald-600"
                    ><path
                      fill="currentColor"
                      d="M6.723 1.054a.5.5 0 0 1 .265.335C7.006 1.468 7.5 3.582 7.5 5c0 .95-.442 1.797-1.13 2.346c-.25.2-.37.418-.37.6v.486q0 .035.004.066c.034.248.157 1.169.272 2.124c.113.937.224 1.959.224 2.378a2 2 0 1 1-4 0c0-.42.111-1.44.224-2.378c.115-.955.238-1.876.272-2.124L3 8.432v-.486c0-.182-.12-.4-.37-.6A3 3 0 0 1 1.5 5c0-1.413.49-3.516.512-3.61A.505.505 0 0 1 2.505 1c.28 0 .507.227.507.507v2.998A.495.495 0 1 0 4 4.5v-3a.5.5 0 0 1 1 0v3.026a.495.495 0 0 0 .99-.021v-3c0-.279.226-.505.506-.505c.022 0 .12 0 .227.054M9 5.5A4.5 4.5 0 0 1 13.5 1a.5.5 0 0 1 .5.5v5.973l.019.177a262 262 0 0 1 .229 2.24c.123 1.256.252 2.664.252 3.11a2 2 0 1 1-4 0c0-.446.129-1.854.252-3.11c.063-.637.126-1.247.173-1.699l.02-.191H10a1 1 0 0 1-1-1z"
                    ></path></svg
                  >
                   Two fully equiped kitchens.
                </dt>
                <dd class="inline">
                  Perfect for entertaining. BBQ, kitchen, and powder room near
                  the pool. Large covered outside deck with dining table and
                  lounge.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1.5rem"
                    height="1.5rem"
                    viewBox="0 0 14 14"
                    class="absolute left-1 top-1 h-5 w-5 text-emerald-600"
                    ><path
                      fill="currentColor"
                      fill-rule="evenodd"
                      d="M7.34 3.291a2.241 2.241 0 0 0-1.287.912a.75.75 0 1 1-1.24-.843a3.75 3.75 0 0 1 2.681-1.62a1.83 1.83 0 0 0-1.236-.193a.75.75 0 0 1-.29-1.471a3.33 3.33 0 0 1 3.52 1.588a3.53 3.53 0 0 1 3.825.908a.75.75 0 1 1-1.1 1.02a2.03 2.03 0 0 0-1.285-.641h-.006a3.3 3.3 0 0 1 .805 2.915a.75.75 0 1 1-1.468-.308a1.8 1.8 0 0 0-1.069-2.03c-.427.291-.786.769-1.059 1.43c-.272.658-.44 1.459-.504 2.332a5.595 5.595 0 0 1 1.58.678c.775.48 1.46 1.15 2.024 1.96a1.506 1.506 0 0 0-.908.643c-.086.138-.175.25-.262.339a1.012 1.012 0 0 1-1.416 0a1.986 1.986 0 0 1-.224-.28c-.387-.576-1.056-.701-1.452-.701c-.396 0-1.065.125-1.452.701a2.03 2.03 0 0 1-.224.28a1.012 1.012 0 0 1-1.416 0a2.064 2.064 0 0 1-.263-.339c-.37-.587-1.033-.71-1.412-.71c-.206 0-.49.036-.769.16c.576-.853 1.284-1.554 2.087-2.053a5.403 5.403 0 0 1 2.615-.831c.075-.978.269-1.926.61-2.752a5.55 5.55 0 0 1 .595-1.094M2.89 11.49a.75.75 0 0 0-1.382.007a1.491 1.491 0 0 1-.951.857a.75.75 0 1 0 .427 1.438a2.99 2.99 0 0 0 1.216-.707c.173.169.366.318.576.444c1.047.628 2.571.628 3.618 0a3.12 3.12 0 0 0 .575-.443c.173.168.365.317.575.443c1.047.628 2.571.628 3.618 0c.21-.126.403-.275.576-.444l.067.063c.33.297.723.517 1.149.643a.75.75 0 0 0 .427-1.437a1.491 1.491 0 0 1-.951-.857a.75.75 0 0 0-1.382-.007a1.625 1.625 0 0 1-.658.753c-.572.343-1.503.343-2.074 0a1.624 1.624 0 0 1-.658-.753a.75.75 0 0 0-1.378 0a1.624 1.624 0 0 1-.658.753c-.572.343-1.503.343-2.075 0a1.624 1.624 0 0 1-.657-.753"
                      clip-rule="evenodd"></path></svg
                  >
                   Live the beachlife.
                </dt>
                <dd class="inline">
                  Seating area by the waters edge, great for sun downers. Beach
                  is ideal for kite surfing, wing foiling, and water sports.
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <Image
          src={poolArea}
          alt="Love sign by poolside"
          class="w-[48rem] md:mt-10 max-w-none rounded-xl shadow-xl ring-1 ring-slate-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
        />
      </div>
    </div>
  </div>

  <div
    class="bg-gradient-to-r from-neutral-100 to-stone-200 py-24 sm:py-24"
    data-aos="fade"
  >
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <dl class="grid grid-cols-3 gap-x-8 gap-y-12 text-center lg:grid-cols-8">
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-lg leading-7 text-slate-700">4 Bedrooms</dt>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            width="4rem"
            height="4rem"
            class="order-first text-slate-700 m-auto"
            ><path
              fill="currentColor"
              d="M432 230.7a79.4 79.4 0 0 0-32-6.7H112a79.5 79.5 0 0 0-32 6.69A80.09 80.09 0 0 0 32 304v112a16 16 0 0 0 32 0v-8a8.1 8.1 0 0 1 8-8h368a8.1 8.1 0 0 1 8 8v8a16 16 0 0 0 32 0V304a80.09 80.09 0 0 0-48-73.3M376 80H136a56 56 0 0 0-56 56v72a4 4 0 0 0 5.11 3.84A95.5 95.5 0 0 1 112 208h4.23a4 4 0 0 0 4-3.55A32 32 0 0 1 152 176h56a32 32 0 0 1 31.8 28.45a4 4 0 0 0 4 3.55h24.46a4 4 0 0 0 4-3.55A32 32 0 0 1 304 176h56a32 32 0 0 1 31.8 28.45a4 4 0 0 0 4 3.55h4.2a95.5 95.5 0 0 1 26.89 3.85A4 4 0 0 0 432 208v-72a56 56 0 0 0-56-56"
            ></path></svg
          >
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-lg leading-7 text-slate-700">5 Bathrooms</dt>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="order-first text-slate-700 m-auto"
            width="4rem"
            height="4rem"
            viewBox="0 0 32 32"
            ><path
              fill="currentColor"
              d="M26.686 17H26V5.141A5.146 5.146 0 0 0 20.86 0c-2.441 0-4.481 1.714-5.002 4h-1.851A2.007 2.007 0 0 0 12 6.007c0 .548.446.993.994.993h7.013A.994.994 0 0 0 21 6.007A2.006 2.006 0 0 0 18.994 4h-1.052c.458-1.168 1.59-2 2.918-2A3.144 3.144 0 0 1 24 5.141V17H5.315a1.315 1.315 0 0 0 0 2.629H6v2.228a7.14 7.14 0 0 0 4 6.407V30a2 2 0 0 0 4 0v-1h4.858c.048 0 .095-.006.142-.007V30a2 2 0 0 0 4 0v-2.331a7.13 7.13 0 0 0 3-5.812v-2.228h.686a1.314 1.314 0 0 0 0-2.629"
            ></path></svg
          >
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-lg leading-7 text-slate-700">2 Kitchens</dt>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            class="order-first text-slate-700 m-auto"
            width="4rem"
            height="4rem"
            ><path
              fill="currentColor"
              d="M6.723 1.054a.5.5 0 0 1 .265.335C7.006 1.468 7.5 3.582 7.5 5c0 .95-.442 1.797-1.13 2.346c-.25.2-.37.418-.37.6v.486q0 .035.004.066c.034.248.157 1.169.272 2.124c.113.937.224 1.959.224 2.378a2 2 0 1 1-4 0c0-.42.111-1.44.224-2.378c.115-.955.238-1.876.272-2.124L3 8.432v-.486c0-.182-.12-.4-.37-.6A3 3 0 0 1 1.5 5c0-1.413.49-3.516.512-3.61A.505.505 0 0 1 2.505 1c.28 0 .507.227.507.507v2.998A.495.495 0 1 0 4 4.5v-3a.5.5 0 0 1 1 0v3.026a.495.495 0 0 0 .99-.021v-3c0-.279.226-.505.506-.505c.022 0 .12 0 .227.054M9 5.5A4.5 4.5 0 0 1 13.5 1a.5.5 0 0 1 .5.5v5.973l.019.177a262 262 0 0 1 .229 2.24c.123 1.256.252 2.664.252 3.11a2 2 0 1 1-4 0c0-.446.129-1.854.252-3.11c.063-.637.126-1.247.173-1.699l.02-.191H10a1 1 0 0 1-1-1z"
            ></path></svg
          >
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-lg leading-7 text-slate-700">Private Pool</dt>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="order-first text-slate-700 m-auto"
            width="4rem"
            height="4rem"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M6 6a1 1 0 0 1 2 0v6.026c.632.06 1.3.192 2 .415V11h6v3.485a6.3 6.3 0 0 0 2-.355V6a3 3 0 0 0-6 0a1 1 0 1 0 2 0a1 1 0 1 1 2 0v3h-6V6a3 3 0 0 0-6 0a1 1 0 0 0 2 0m.592 9.025c-1.024.126-1.7.547-1.986.766a1 1 0 0 1-1.212-1.592c.492-.374 1.493-.979 2.953-1.16c1.475-.181 3.336.08 5.513 1.317c3.788 2.154 6.836.653 7.63.183a1 1 0 0 1 1.02 1.72c-1.077.638-4.949 2.502-9.639-.164c-1.836-1.044-3.268-1.195-4.279-1.07M4.606 19.79c.287-.219.962-.64 1.986-.766c1.01-.125 2.443.026 4.28 1.07c4.69 2.666 8.56.802 9.638.165a1 1 0 1 0-1.02-1.721c-.794.47-3.842 1.971-7.63-.183c-2.177-1.237-4.038-1.498-5.513-1.316c-1.46.18-2.46.785-2.953 1.16a1 1 0 0 0 1.212 1.59"
            ></path></svg
          >
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-lg leading-7 text-slate-700">Oceanfront</dt>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="order-first text-slate-700 m-auto"
            width="4rem"
            height="4rem"
            viewBox="0 0 14 14"
            ><path
              fill="currentColor"
              fill-rule="evenodd"
              d="M7.34 3.291a2.241 2.241 0 0 0-1.287.912a.75.75 0 1 1-1.24-.843a3.75 3.75 0 0 1 2.681-1.62a1.83 1.83 0 0 0-1.236-.193a.75.75 0 0 1-.29-1.471a3.33 3.33 0 0 1 3.52 1.588a3.53 3.53 0 0 1 3.825.908a.75.75 0 1 1-1.1 1.02a2.03 2.03 0 0 0-1.285-.641h-.006a3.3 3.3 0 0 1 .805 2.915a.75.75 0 1 1-1.468-.308a1.8 1.8 0 0 0-1.069-2.03c-.427.291-.786.769-1.059 1.43c-.272.658-.44 1.459-.504 2.332a5.595 5.595 0 0 1 1.58.678c.775.48 1.46 1.15 2.024 1.96a1.506 1.506 0 0 0-.908.643c-.086.138-.175.25-.262.339a1.012 1.012 0 0 1-1.416 0a1.986 1.986 0 0 1-.224-.28c-.387-.576-1.056-.701-1.452-.701c-.396 0-1.065.125-1.452.701a2.03 2.03 0 0 1-.224.28a1.012 1.012 0 0 1-1.416 0a2.064 2.064 0 0 1-.263-.339c-.37-.587-1.033-.71-1.412-.71c-.206 0-.49.036-.769.16c.576-.853 1.284-1.554 2.087-2.053a5.403 5.403 0 0 1 2.615-.831c.075-.978.269-1.926.61-2.752a5.55 5.55 0 0 1 .595-1.094M2.89 11.49a.75.75 0 0 0-1.382.007a1.491 1.491 0 0 1-.951.857a.75.75 0 1 0 .427 1.438a2.99 2.99 0 0 0 1.216-.707c.173.169.366.318.576.444c1.047.628 2.571.628 3.618 0a3.12 3.12 0 0 0 .575-.443c.173.168.365.317.575.443c1.047.628 2.571.628 3.618 0c.21-.126.403-.275.576-.444l.067.063c.33.297.723.517 1.149.643a.75.75 0 0 0 .427-1.437a1.491 1.491 0 0 1-.951-.857a.75.75 0 0 0-1.382-.007a1.625 1.625 0 0 1-.658.753c-.572.343-1.503.343-2.074 0a1.624 1.624 0 0 1-.658-.753a.75.75 0 0 0-1.378 0a1.624 1.624 0 0 1-.658.753c-.572.343-1.503.343-2.075 0a1.624 1.624 0 0 1-.657-.753"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-lg leading-7 text-slate-700">Air-Con</dt>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="order-first text-slate-700 m-auto"
            width="4rem"
            height="4rem"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path
                d="M8 16a3 3 0 0 1-3 3m11-3a3 3 0 0 0 3 3m-7-3v4M3 7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
              ></path><path d="M7 13v-3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3"
              ></path></g
            ></svg
          >
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-lg leading-7 text-slate-700">Wifi</dt>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="order-first text-slate-700 m-auto"
            width="4rem"
            height="4rem"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path d="M2 10c6-6.667 14-6.667 20 0M6 14c3.6-4 8.4-4 12 0"
              ></path><circle cx="12" cy="18" r="1"></circle></g
            ></svg
          >
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-lg leading-7 text-slate-700">Laundry</dt>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="order-first text-slate-700 m-auto"
            width="4rem"
            height="4rem"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M6 13.975v-3L4.125 12l-3-5.2l6.6-3.8H9q.4 1.2.95 2.1T12 6t2.05-.9T15 3h1.275l6.575 3.825L19.875 12L18 10.975v4.8l-1.575 1.375q-.175.15-.4.238t-.45.087q-.15 0-.35-.1t-.4-.25l-2.65-2.275q-.8-.7-1.8-1.025T8.35 13.5q-.6 0-1.188.113T6 13.975m-1.35 5.4l-1.3-1.525L5.525 16q.575-.5 1.313-.763t1.537-.262t1.525.263t1.3.762l2.9 2.475q.3.25.713.388t.837.137q.45 0 .838-.125t.687-.4L19.35 16.6l1.3 1.55L18.475 20q-.575.5-1.3.75T15.65 21t-1.537-.25T12.8 20l-2.9-2.475q-.3-.25-.687-.387T8.375 17q-.425 0-.837.138t-.713.387z"
            ></path></svg
          >
        </div>
      </dl>
    </div>
  </div>
  <div class="overflow-hidden py-16 sm:py-24" data-aos="fade">
    <div class="mx-auto max-w-6xl px-6 lg:px-8">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
      >
        <div class="lg:pr-8 md:pt-20">
          <div class="lg:max-w-lg">
            <dl
              class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
            >
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1.5rem"
                    height="1.5rem"
                    viewBox="0 0 14 14"
                    class="absolute left-1 top-1 h-5 w-5 text-emerald-600"
                    ><path
                      fill="currentColor"
                      fill-rule="evenodd"
                      d="M7.527 9.331a5.025 5.025 0 0 0 1.49-1.319a1.964 1.964 0 0 1-.273-.661l-.019-.088a1.294 1.294 0 0 0-1.042-.998c-2.072-.36-2.072-3.334 0-3.695a1.293 1.293 0 0 0 1.03-.948a5 5 0 1 0-6.187 7.709V10.5a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V9.331Zm-5 3.919a.75.75 0 0 1 .75-.75h3.5a.75.75 0 0 1 0 1.5h-3.5a.75.75 0 0 1-.75-.75m7.28-11.533C9.99.881 11.18.876 11.37 1.71l.009.04l.018.078a2.395 2.395 0 0 0 1.921 1.812c.872.152.872 1.404 0 1.556a2.396 2.396 0 0 0-1.925 1.827l-.023.102c-.19.835-1.381.83-1.565-.007l-.019-.087A2.38 2.38 0 0 0 7.87 5.194c-.871-.151-.871-1.401 0-1.553a2.38 2.38 0 0 0 1.915-1.826L9.8 1.75z"
                      clip-rule="evenodd"></path></svg
                  >
                   All the tech you need.
                </dt>
                <dd class="inline">
                  Solar panel system so you won't ever be out of power. Fast
                  internet connection with Wifi throughout house and pool area.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1.5rem"
                    height="1.5rem"
                    viewBox="0 0 24 24"
                    class="absolute left-1 top-1 h-5 w-5 text-emerald-600"
                    ><path
                      fill="currentColor"
                      d="M14.83 11.17a4.01 4.01 0 0 1 0 5.66a4.01 4.01 0 0 1-5.66 0zM6 2h12a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2m1 2a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1m3 0a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1m2 4a6 6 0 0 0-6 6a6 6 0 0 0 6 6a6 6 0 0 0 6-6a6 6 0 0 0-6-6"
                    ></path></svg
                  >
                   Home away from home.
                </dt>
                <dd class="inline">
                  Laundry room and washing lines and dishwashers in both
                  kitchens, so you can concentrate on relaxation.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1.5rem"
                    height="1.5rem"
                    viewBox="0 0 24 24"
                    class="absolute left-1 top-1 h-5 w-5 text-emerald-600"
                    ><path
                      fill="currentColor"
                      d="m5 11l1.5-4.5h11L19 11m-1.5 5a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5m-11 0A1.5 1.5 0 0 1 5 14.5A1.5 1.5 0 0 1 6.5 13A1.5 1.5 0 0 1 8 14.5A1.5 1.5 0 0 1 6.5 16M18.92 6c-.2-.58-.76-1-1.42-1h-11c-.66 0-1.22.42-1.42 1L3 12v8a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h12v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-8z"
                    ></path></svg
                  >
                   Easy to get around.
                </dt>
                <dd class="inline">
                  Plenty of parking and gate to the road. Five minute drive to
                  English Harbour and all local attractions. 15 minute drive to
                  beautiful Halfmoon Bay Beach.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1.5rem"
                    height="1.5rem"
                    viewBox="0 0 16 16"
                    class="absolute left-1 top-1 h-5 w-5 text-emerald-600"
                    ><path
                      fill="currentColor"
                      fill-rule="evenodd"
                      d="M14.98 2.5A6 6 0 0 0 15 2V1h-1.75a6 6 0 0 0-5.761 4.32A5.99 5.99 0 0 0 2.75 3H1v1a6 6 0 0 0 6 6h.25v4.25a.75.75 0 0 0 1.5 0V8H9a6 6 0 0 0 5.98-5.5m-6.203 4a4.5 4.5 0 0 1 4.473-4h.223A4.5 4.5 0 0 1 9 6.5zm-6.027-2a4.5 4.5 0 0 1 4.473 4H7a4.5 4.5 0 0 1-4.473-4z"
                      clip-rule="evenodd"></path></svg
                  >
                   Surrounded by Antiguan nature
                </dt>
                <dd class="inline">
                  Spectacular view of moon rising over Willoughby Bay. Amazing
                  bird watching where you can see pelicans, frigates, great
                  heron, egrets, and more.
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <Image
          src={kitchen}
          alt="Moonshine upstairs kitchen view"
          class="w-[48rem] md:mt-10 max-w-none rounded-xl shadow-xl ring-1 ring-slate-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
        />
      </div>
    </div>
  </div>
</BaseLayout>
